<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.template.project"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 请求访问使用照相设备 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>
    <application
        android:icon="@mipmap/icon_front_gudangview"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_front_gudangview"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:theme="@style/BaseAppTheme"
        android:name="com.template.project.MyApplication"
        android:fullBackupContent="false"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:fullBackupContent"
        android:requestLegacyExternalStorage="true"
        >
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5178386423656556~6322299683"/>
        <activity
            android:name="com.template.project.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


            <!-- qsc://app.pedulisehat/go/main -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="app.gudangview"
                    android:pathPrefix="/go/main"
                    android:scheme="gv" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.template.project.ui.iklanDetail.IklanDetailActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="app.gudangview"
                    android:pathPrefix="/go/detail"
                    android:scheme="gv" />
            </intent-filter>
        </activity>
        <activity android:name="com.template.project.ui.iklan.CreateIklanActivity" />
        <activity android:name="com.template.project.ui.h5.H5Activity" />
        <activity android:name="com.template.project.ui.topup.TopUpActivity" />
        <activity android:name="com.template.project.ui.penarikan.PenarikanActivity" />
        <activity android:name="com.template.project.ui.profile.UpdateUserActivity" />
        <activity android:name="com.template.project.ui.profile.UpdatePasswordActivity" />
        <activity android:name="com.template.project.ui.profile.BankWalletActivity" />
        <activity android:name="com.template.project.ui.aut.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            />
        <activity android:name="com.template.project.ui.profile.ListBankWalletActivity" />
        <activity android:name="com.template.project.ui.h5.WebViewActivity" />
        <activity android:name="com.template.project.ui.aut.RegisterActivity" />
        <activity android:name="com.template.project.ui.aut.ForgoteActivity" />
        <activity android:name="com.template.project.ui.iklanDetail.WebViewDurationActivity" />


    </application>

</manifest>